@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --ancho-maximo: 1440px;
  --celeste: hsl(180, 66%, 49%);
  --morado: hsl(257, 27%, 26%);
  --plomo: hsl(0, 0%, 75%);
  --plomo-morado: hsl(257, 7%, 63%);
  --azul-oscuro: hsl(255, 11%, 22%);
  --morado-oscuro: hsl(260, 8%, 14%);
}

.header,
.main,
.content,
.footer {
  padding: 0 0.5rem;
}

.general__wrapper {
  max-width: var(--ancho-maximo);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 2.5rem;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 2rem;
  flex: 1;
  padding-left: 3rem;
  font-size: 1.1rem;
}

.header__item {
  list-style: none;
}

.header__item a {
  text-decoration: none;
  color: var(--plomo-morado);
  font-weight: 700;
}

.header__buttons {
  display: flex;
  /* background-color: chartreuse; */
  flex: 0.2;
  align-items: center;
  justify-content: space-between;
  gap: 0.1em;
}

.btn0 {
  text-decoration: none;
  color: var(--plomo-morado);
  font-weight: 700;
}

.btn1 {
  text-decoration: none;
  color: white;
  background-color: var(--celeste);
  padding: 0.6rem 2rem;
  border-radius: 1.7rem;
}

.btn1:hover {
  filter: brightness(115%);
}

.header__menu {
  display: none;
}

.main {
  display: flex;
  padding: 3rem 0 2.5rem 1rem;
  align-items: center;
}

.main__text h1 {
  font-size: 5.5rem;
  line-height: 6rem;
  color: var(--azul-oscuro);
}

.main__text p {
  font-size: 1.6rem;
  color: var(--plomo-morado);
  padding: 0rem 2rem 2rem 0rem;
}

.main__text .btn1 {
  font-size: 1.2rem;
  padding: 1rem 2.6rem;
}

.main__img {
  transform: translate(0, 0);
}

.search {
  display: flex;
  margin: 0 auto;
  background-color: var(--morado);
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  max-width: 100%;
  height: 10rem;
  padding: 0 3.5rem 0 3.5rem;
  gap: 1.1rem;
  transform: translate(0, 50%);
}

.search .btn1 {
  border-radius: 0.5rem;
  flex: 1;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.search input {
  border-radius: 0.5rem;
  flex: 6;
  padding: 1rem 2rem;
  outline: none;
}

.search input::placeholder {
  color: var(--plomo);
  font-size: 1.1rem;
}

.content {
  background-color: #f0f1f6;
  padding-top: 12rem;
  text-align: center;
  padding-bottom: 10rem;
}
.content__text {
  margin: 0 auto;
  width: 45%;
  margin-bottom: 6rem;
  /* background-color: var(--celeste); */
  max-width: 750px;
}
.content__text h2 {
  font-size: 4rem;
  color: var(--azul-oscuro);
  padding-bottom: 1rem;
}

.content__text p {
  font-size: 1.6rem;
  word-spacing: 0.3rem;
  color: var(--plomo);
}

.content__banners {
  display: flex;
  max-width: var(--ancho-maximo);
  margin: 0 auto;

  gap: 2rem;
  height: 500px;
}

.banner {
  background-color: white;
  border-radius: 0.8rem;
  padding: 4.5rem 2.5rem 4.5rem 2.5rem;
  text-align: left;
}

.banner h4 {
  font-size: 1.8rem;
}

.banner p {
  font-size: 1.3rem;
  color: var(--plomo);
  padding-top: 1.3rem;
}
.banner__fig {
  background: var(--morado);
  border-radius: 50%;
  width: fit-content;
  padding: 1rem 1.2rem;
  position: absolute;
  transform: translate(0, calc(-100% - 30px));
}
.banner__wrapper1 {
  display: flex;
  align-items: flex-start;
  height: 100%;
  /* border: 1px solid black; */
}
.banner__wrapper2 {
  display: flex;
  align-items: center;
  height: 100%;
  /* border: 1px solid black; */
}
.banner__wrapper3 {
  display: flex;
  align-items: flex-end;
  height: 100%;
  /* border: 1px solid black; */
}

.content__end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 420px;
  background-color: var(--morado);
  background-image: url(./../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content__end h3 {
  color: white;
  font-size: 4rem;
}

.content__end .btn1 {
  padding: 1.4rem 5rem;
  border-radius: 40px;
  font-size: 1.4rem;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--morado-oscuro);
  padding: 4rem 2rem 1rem 0rem;
}

.footer__wrapper {
  display: flex;
  /* border: 1px solid greenyellow; */

  width: var(--ancho-maximo);
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  gap: 6rem;
}

.footer__group_list p {
  font-weight: 700;
  color: white;
  padding-bottom: 1rem;
}
.footer__link {
  list-style: none;
  text-decoration: none;
}

.link:hover {
  color: var(--celeste);
}

.link {
  text-decoration: none;
  color: var(--plomo);
  font-weight: 500;
  line-height: 2rem;
}
.footer__redes {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.redes__img:hover {
  cursor: pointer;

  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .general__wrapper {
    padding: 0 1rem;
  }

  .main__img {
    transform: scale(0.9);
  }
}

@media screen and(max-width: 1024px) {
  .main__img {
    transform: scale(0.2);
  }
}

@media screen and (max-width: 768px) {
  .general__wrapper {
    /* display: flex;
    flex-direction: column; */
    padding: 0;
    margin: 0 auto;
  }
  .header__buttons {
    display: none;
  }
  .header__menu {
    display: flex;
  }

  .main {
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse;
    overflow: hidden;
    width: 100%;
  }

  .main__img {
    transform: scale(1.2) translate(10%, 0);
    overflow: hidden;
    margin-bottom: 5rem;
  }

  .main__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .main__text p {
    text-align: center;
    font-size: 2rem;
    padding: 0;
  }

  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    padding: 7rem 3rem;
  }

  .search input {
    padding: 1 3rem;
    flex: 1;
    min-width: 100%;
  }

  .search .btn1 {
    padding: 1 3rem;
    flex: 1;
    min-width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .content__text {
    width: 75%;
  }

  .content__text h2 {
    font-size: 3.2rem;
  }

  .content__text p {
    font-size: 1.8rem;
  }

  .content__banners {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .banner {
    text-align: center;
    margin-bottom: 2rem;
  }

  .banner__wrapper1,
  .banner__wrapper2,
  .banner__wrapper3 {
    width: 60%;
  }

  .banner__fig {
    position: absolute;
    transform: translate(calc(100% + 60px), calc(100% - 185px));
  }

  .content__end {
    padding: 5rem;
  }

  .content__end h3 {
    text-align: center;
    font-size: 3rem;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
  }

  .logo {
    margin: 0 auto;
  }

  .footer__redes {
    display: flex;
    justify-content: center;
  }
}
