@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
:root {
  --BrightRed: hsl(12, 88%, 59%);
  --DarkBlue: hsl(228, 39%, 23%);
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --VeryDarkBlue: hsl(233, 12%, 13%);
  --VeryPaleRed: hsl(13, 100%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);

  --ancho-maximo: 1440px;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.background2 {
  background-image: url("./../images/bg-tablet-pattern.svg");
  height: 700px;
  width: 700px;
  position: absolute;
  z-index: -1;
  top: 50rem;
  background-repeat: no-repeat;
  background-position: -30rem 0;
}

body {
  font-family: "Be Vietnam", sans-serif;
  background-image: url("./../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 5rem) -20rem;
}

.header {
  max-width: var(--ancho-maximo);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__menu {
  display: none;
}

.header__list {
  display: flex;
  list-style: none;
  gap: 1.4rem;
}

.header__link {
  text-decoration: none;
  color: var(--DarkBlue);
  font-weight: 700;
}

.header__link:hover {
  color: var(--DarkGrayishBlue);
}

.main {
  max-width: var(--ancho-maximo);
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  background-color: var(--BrightRed);
  color: white;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 2.5rem;

  /* max-width: 165px; */
  box-shadow: 0px 5px 25px var(--BrightRed);
}

.btn:hover {
  filter: opacity(75%);
}

.fila {
  display: flex;
  flex-wrap: wrap;
}

.columna {
  flex: 50%;
  max-width: 50%;
  margin-bottom: 2rem;
}

.columna:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columna1_text h1 {
  color: var(--DarkBlue);
  font-size: 4rem;
  line-height: 4.5rem;
  padding-bottom: 2rem;
  font-weight: 700;
}

.columna1_text p {
  color: var(--DarkGrayishBlue);
  font-size: 1.25rem;
  max-width: 60%;
  text-align: justify;
  padding-bottom: 2.5rem;
}

.columna:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columna3_text h2 {
  color: var(--DarkBlue);
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.columna3_text p {
  color: var(--DarkGrayishBlue);
  font-size: 1.25rem;
  max-width: 60%;
  text-align: justify;
  padding-bottom: 2.5rem;
}

.main__banner {
  max-width: 100%;
}

.media {
  position: relative;
  margin-bottom: 2rem;
}

.media__number {
  position: absolute;
  background-color: var(--BrightRed);
  color: white;
  height: 2rem;
  width: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.media__title {
  padding-left: 4rem;
  font-size: 1.5rem;
}

.media__text {
  color: var(--DarkGrayishBlue);
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1.25rem;
  text-align: justify;
}

.comments__title {
  text-align: center;
  margin-bottom: 3rem;
}

.comments__container {
  display: flex;
}

.comment {
  flex: 1;
  padding: 1rem;
}

.comment__box {
  background-color: rgb(248, 248, 248);
  text-align: center;
  padding: 0 0.5rem 1rem 0.5rem;
  border-radius: 3px;
}

.comment__img img {
  width: 4.5rem;
  height: 4.5rem;
  transform: translate(0, -50%);
}

.comments__button {
  text-align: center;
}

.footer__title {
  background-color: var(--BrightRed);
  height: 9.5rem;
  background-image: url("./../images/bg-simplify-section-desktop.svg");
  margin-top: 4rem;
}

.wrapper {
  max-width: var(--ancho-maximo);
  margin: 0 auto;
}

.wrapper.title {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__title h3 {
  color: white;
  font-size: 1.8rem;
  max-width: 350px;
}

.footer__info {
  background-color: var(--VeryDarkBlue);
}

.footer__list {
  flex: 1;
  list-style: none;
  columns: 2;
  padding-left: 8rem;
}

.footer__link {
  text-decoration: none;
  color: var(--DarkGrayishBlue);
}

.footer__link:hover {
  color: var(--BrightRed);
}
.footer__form {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-end;
}

.footer__title .btn {
  background-color: white;
  color: var(--BrightRed);
}

.footer__form span {
  color: var(--DarkGrayishBlue);
  width: 100%;
  text-align: right;
  font-size: 0.7rem;
}

.footer__form input {
  /* color: var(--DarkGrayishBlue); */
  padding: 1.1rem 2rem 1.1rem 1rem;
  font-size: 0.7rem;
  border-radius: 25px;
  height: 30px;
  width: 175px;
}

.footer__form button {
  border: none;
  text-decoration: none;
  background-color: var(--BrightRed);
  color: white;
  font-size: 0.7rem;
  hheight: 30px;
  width: 60px;
  border-radius: 2.5rem;
  box-shadow: 0px 5px 25px var(--BrightRed);
}

.footer__form button:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.footer__form input::placeholder {
  color: var(--DarkGrayishBlue);
}
.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: space-between;
}

.footer__social :hover {
  cursor: pointer;
  color: aqua;
}
.wrapper.info {
  /* background-color: goldenrod; */
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  /* background-color: beige; */
}

@media screen and (max-width: 1440px) {
  .header,
  .main,
  .comments,
  .wrapper.title {
    padding: 0 1.5rem;
  }

  .wrapper.info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .columna {
    flex: 100%;
    max-width: 100%;
    text-align: center;
  }
  .columna1_text p,
  .columna3_text p {
    /* flex: 100%; */
    max-width: 100%;
  }
  .columna:nth-child(1) {
    order: 2;
  }
  .columna:nth-child(2) {
    order: 1;
  }
  .columna:nth-child(3) {
    order: 3;
  }
  .columna:nth-child(4) {
    order: 4;
  }

  .media__title {
    background-color: var(--VeryPaleRed);
    height: 2rem;
  }

  .media__text {
    padding-left: 0;
  }

  .header.open {
    flex-wrap: wrap;
    height: fit-content;
    padding-top: 2rem;
  }

  .header__nav {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__menu {
    display: block;
    /* text-align: right; */
  }

  .header.open .header__nav {
    display: flex;
    order: 3;
    width: 100%;
  }

  .header.open .header__logo {
    order: 1;
  }

  .header.open .header__menu {
    order: 2;
  }

  .header.open .header__list {
    width: 100%;
    background-color: white;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    box-shadow: rgb(172, 172, 172) 0px 0px 10px;
  }

  .comments__container {
    display: block;
    width: 75%;
    margin: 0 auto;
  }

  .comment {
    padding-bottom: 4rem;
  }

  .footer__form button {
    width: 50px;
    height: 35px;
    border-radius: 15px;
  }
}
