@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
:root {
  --color-primary1: hsl(12, 88%, 59%);
  --color-primary2: hsl(228, 39%, 23%);
  --color-secondary1: hsl(227, 12%, 61%);
  --color-secondary2: hsl(233, 12%, 13%);
  --color-secondary3: hsl(13, 100%, 96%);
  --color-secondary4: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url(../images/bg-tablet-pattern.svg);
  /* background-size: cover; */
  background-repeat: space;
  background-position: center;
  font-size: 16px;
  font-family: "Be Vietnam", sans-serif;
}

.general__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;

  padding: 4rem;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav ul {
  list-style: none;
  display: flex;
}

.header__nav_item {
  padding: 0 1rem;
  color: var(--color-primary2);
  font-weight: 700;
}

.header__nav_item:hover {
  cursor: pointer;
  color: var(--color-secondary1);
}

.btn_getstarted1 {
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 1rem 3rem;
  border-style: none;
  font-family: "Be Vietnam", sans-serif;
  background-color: var(--color-primary1);
  color: var(--color-secondary4);
}

.btn_getstarted1:hover {
  box-shadow: 1px 4px 6px var(--color-primary1);
  background-color: rgb(251, 132, 102);
}

.wrapper {
  /* border: 1px solid violet; */
}

.wrapper__wrapper1 {
  /* border: 1px solid blueviolet; */
  display: flex;
  padding-right: 4rem;
}

.wrapper__wrapper1_1 {
  /* background-color: burlywood; */
  font-size: 2rem;
  padding-top: 5rem;
  padding-right: 6rem;
  padding-left: 4rem;
}

.wrapper1__h1 {
  line-height: 4rem;
  color: var(--color-primary2);
}

.wrapper1__p1 {
  font-size: 1.2rem;
  color: var(--color-secondary1);
  padding-top: 2rem;
  padding-right: 13rem;
  padding-bottom: 2rem;
  text-align: justify;
}

.wrapper__wrapper1_2 {
  padding-top: 1rem;
}

.wrapper__wrapper2 {
  /* border: 1px solid red; */
  display: flex;
  padding-top: 6rem;
  padding-right: 2rem;
}

.wrapper2__h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding: 0 4rem 0 4rem;
  color: var(--color-secondary2);
}

.wrapper2__p2 {
  padding-left: 4rem;
  padding-top: 2rem;
  padding-right: 10rem;
  color: var(--color-secondary1);
}

.wrapper__wrapper2_1 {
  /* background-color: royalblue; */
}

.wrapper__wrapper2_2 {
  /* background-color: silver; */
}

.list__number {
  background-color: var(--color-primary1);
  /* padding: 1rem 3rem; */
  height: 2rem;
  width: 10rem;
  border-radius: 15px;
  color: var(--color-secondary4);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.list_content h3 {
  color: var(--color-primary2);
}
.list_content p {
  padding: 1rem 0 2.5rem 0;
  color: var(--color-secondary1);
}

.list__general {
  display: flex;
  justify-content: right;
  padding: 0 9.5rem;
  /* height: 150px; */
}

.wrapper__wrapper3_1 {
  padding-top: 7rem;
}
.wrapper__wrapper3_1 h3 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 8rem;
  /* background-color: yellow; */
}

.wrapper__wrapper3_2 {
  /* background-color: violet; */
  display: flex;
}

.card {
  /* display: flex; */
  background-color: var(--color-secondary4);
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-bottom: 3rem;
  font-size: 1.2rem;
  /* padding-top: 3rem; */
}

.card__foto1 {
  background-image: url(../images/avatar-anisha.png);
  background-size: cover;
  border-radius: 50%;
  position: relative;
  margin: 0;
  left: calc(50% - 60px);
  bottom: 50px;
  height: 120px;
  width: 120px;
}

.card__foto2 {
  background-image: url(../images/avatar-ali.png);
  background-size: cover;
  border-radius: 50%;
  position: relative;
  margin: 0;
  left: calc(50% - 60px);
  bottom: 50px;
  height: 120px;
  width: 120px;
}

.card__foto3 {
  background-image: url(../images/avatar-richard.png);
  background-size: cover;
  border-radius: 50%;
  position: relative;
  margin: 0;
  left: calc(50% - 60px);
  bottom: 50px;
  height: 120px;
  width: 120px;
}
.card_nombre {
  color: var(--color-secondary2);
  padding-bottom: 2rem;
  /* padding-top: 0rem; */
  font-weight: 700;
  text-align: center;
}

.card__info {
  text-align: center;
  color: var(--color-secondary1);
}

.wrapper__wrapper3_3 {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 7rem;
}

.wrapper__wrapper4 {
  display: flex;
  background-color: var(--color-primary1);
  justify-content: space-between;
  padding: 3rem 8rem;
  color: var(--color-secondary4);
  align-items: center;
}

.wrapper__wrapper4 p {
  font-weight: 500;
  line-height: 3.5rem;
  padding-right: 18rem;
  padding-bottom: 1rem;
  font-size: 3rem;
}

.btn_getstarted2 {
  border-radius: 30px;
  padding: 0.5rem 5rem;
  border-style: none;
  outline: none;
  cursor: pointer;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  background-color: var(--color-secondary3);
  color: var(--color-primary1);
}

.btn_getstarted2:hover {
  filter: brightness(110%);
  box-shadow: 0 1px 10px 0px var(--color-primary2);
}

.footer__div1 {
  /* border: 1px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem;
}
.footer__logo {
  color: white;
}

.footer__redes {
  display: flex;
  justify-content: space-between;
}

.wrapper__footer {
  background-color: var(--color-secondary2);
  display: flex;
  justify-content: space-around;
  /* height: 250px; */
  width: 100%;
  padding-top: 2rem;
  height: 250px;
}

.footer__ul {
  /* border: 1px solid slateblue; */
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  height: 200px;
}

.footer__ul li {
  padding: 0rem 3rem;
  color: var(--color-secondary4);
  flex-basis: 25%;
}

.footer__div2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.footer__div2_1 input {
  border-radius: 20px;
  padding: 0.8rem 1.5rem;
  outline: none;
}

.btn_go {
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 0.8rem 2rem;
  border-style: none;
  font-family: "Be Vietnam", sans-serif;
  background-color: var(--color-primary1);
  color: var(--color-secondary4);
}

.btn_go:hover {
  /* box-shadow: 1px 4px 6px var(--color-primary1); */
  background-color: rgb(251, 132, 102);
}

.footer__div2_2 {
  color: var(--color-secondary4);
}

.footer__redes img:hover {
  color: red;
  cursor: pointer;
}

.footer__ul li:hover {
  color: var(--color-primary1);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .general__wrapper {
    max-width: 600px;
    /* background-color: wheat; */
    padding: 0;
  }

  .header__nav li,
  button {
    display: none;
  }

  .wrapper__wrapper1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .wrapper__wrapper1_1 {
    /* border: 1px solid skyblue; */
    padding-right: 1rem;
  }

  .wrapper1__h1 {
    /* border: 1px solid red; */
    padding: 0;
  }
  .wrapper1__p1 {
    /* border: 1px solid violet; */
    padding-right: 0rem;
  }

  .wrapper__wrapper1_2 {
    /* border: 1px solid blue; */
  }

  .wrapper__wrapper2 {
    display: flex;
    flex-direction: column;
  }

  .wrapper__wrapper3_2 {
    display: flex;
    flex-direction: column;
  }
  .wrapper__wrapper4 {
    display: flex;
    flex-direction: column;
    border: 1px solod skyblue;
  }
}

@media screen and (max-width: 370px) {
  .general__wrapper {
    min-width: 100%;
    /* background-color: wheat; */
    padding: 0;
  }

  .header__nav li,
  button {
    display: none;
  }

  .wrapper__wrapper1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .wrapper1__h1 {
    /* border: 1px solid red; */
    padding: 0;
  }
  .wrapper1__p1 {
    /* border: 1px solid violet; */
    padding-right: 0rem;
  }

  .wrapper__wrapper1_1 {
    padding-left: 1rem;
    padding-top: 2rem;
  }
  .wrapper__wrapper1_2 {
    /* border: 1px solid blue; */
    height: 300px;
  }

  .wrapper__wrapper1_2 img {
    transform: translate(-145px, -100px) scale(0.5);
  }
  .wrapper__wrapper2 {
    display: flex;
    flex-direction: column;
  }
  .wrapper__wrapper4 {
    display: flex;
    flex-direction: column;
    /* background-color: skyblue; */
    padding: 1rem 1rem;
    /* flex-wrap: wrap; */
  }

  .wrapper__wrapper4 p {
    font-size: 1rem;
    /* border: 1px solid black; */
    line-height: 1.5rem;
  }

  .footer__ul li {
    display: none;
  }
}
