* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section1 {
  background-color: #34ff50;
  height: 300px;
}
.section2 {
  height: 500px;
  background-color: lightgrey;
  background-image: url(./Apertura-fondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section3 {
  height: 300px;
  background-image: url(https://picsum.photos/200/200/?blur);
  /* background-repeat: no-repeat; */
}

.section4 {
  height: 500px;
  background-image: linear-gradient(to top, purple, red);
}

.section5 {
  height: 500px;
  background-image: radial-gradient(circle, purple, red);
}
